RedirectMatch 404 /\.git

Redirect 301 /satzung http://wiki.freifunk-mainz.de/w/Verein/Satzung
Redirect 301 /verein http://wiki.freifunk-mainz.de/w/Verein
Redirect 301 /howto http://wiki.freifunk-mainz.de/w/Howto/Tinc-Node_konfiguration
Redirect 301 /spenden http://www.freifunk-mainz.de/#spenden
Redirect 301 /liste http://lists.freifunk.net/mailman/listinfo/mainz-freifunk.net

Redirect 301 /blog http://blog.freifunk-mainz.de
Redirect 301 /wiki http://wiki.freifunk-mainz.de
Redirect 301 /karte http://map.freifunk-mainz.de

Redirect 301 /twitter https://twitter.com/freifunkmainz
Redirect 301 /facebook https://www.facebook.com/FreifunkMainz
Redirect 301 /identica https://identi.ca/freifunkmainz
